---
import PostDisplay from "../components/PostDisplay.astro";
import Layout from "../layouts/Layout.astro";
import { getBlogPosts } from "../lib/notion/api";
const posts = await getBlogPosts();
---

<Layout title="Astro Notion Blog">
	<h1 class="text-5xl">Blog</h1>
	<p class="text-xl">Recent posts</p>
	<div class="grid grid-flow-row grid-rows-2 gap-4">
		{posts.map((post) => <PostDisplay post={post} />)}
	</div>
</Layout>
