---
import { Block, isTextBlock } from "../lib/notion/types";
import TextRenderer from "./TextRenderer.astro";

interface Props {
    content: Block[];
}
const { content } = Astro.props;
---

<div>
    {
        content.map((block) => {
            if (isTextBlock(block)) return <TextRenderer block={block} />;
        })
    }
</div>
